@import url("common.css");
.image-container {
    background-image: url("https://nurseryschool.wustl.edu/files/2015/03/group-holi.jpg");
}

td {
    width: 50%;
    border:1px solid black;
}

ul {
    /* width: 50%; */
    position: relative;
    margin-left: 30px;
    
}

th {
    border:1px solid black;
  }

table {
    border:1px solid black;
    margin-left: auto;
    margin-right: auto;
}

li {
    font-size: 20px;
}